.cabinet {
        font-family: 'Cinzel', serif;
        background-color: brown;
        border-width: 10px;
        border-color: brown;
        text-align: center;
        /* font-size: 96px; */
        height: 8%;
        /* color: brown; */
        /* text-shadow: 2px 2px black; */
        align-content: center;
        border-style: ridge;
        /* position: fixed bottom; */

    }

