.fixed-bottom {
        font-family: 'Cinzel', serif;
        background-color: grey;
        border-style: solid;
        border-width: 5px;
        border-color: brown;
        font-size: 64px;
        height: 6rem;
    }

