.logoDiv {
    height: 100%;
    width: 100%;
    background-color: brown;
    /* border-style: ridge;
    border-color: brown;
    border-width: 10px 10px 0 10px; */
    padding: 0;
    margin: 0;
}

.mainLogo {
    font-family: 'Cinzel', serif;

    font-weight: bolder;
    font-style: italic;
    text-shadow: 2px 2px black;
    color: tan;
    font-size: 300%;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    display: flex;
    padding: 0;
    margin: 0;
}
.mainLogo:hover {
    color: #6b2302;
    text-decoration-color: #6b2302;
}