.logoDiv {
    height: 100%;
    width: 100%;
}

.mainLogo {
    font-family: 'Cinzel', serif;
    background-color: #6b2302;
    border-style: ridge;
    border-color: #6b2302;
    border-width: 10px;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 2px 2px black;
    color: white;
    font-size: 200%;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    display: flex;


    /* font-variant: small-caps; */



    /* font-size: 350%;
    height: 100%;

    box-sizing: none; */
}