.navlogo {  
    font-family: 'Cinzel', serif;
    background-color: brown;
    border-width: 10px;
    border-color: brown;
    display: flex;
    /* align-content: center;
    justify-content: center; */
    height: 15%;
    border-style: ridge;
    top: 0;
    margin: 0;
    padding: 0;
}
/* .logoDiv {
    background-color: brown;
    border-width: 10px;
    border-color: brown;
    margin: 0;
    padding: 0;
} */