.clientCabinet {
    font-family: 'Cinzel', serif;
    background-color: brown;
    border-width: 10px;
    border-color: brown;
    text-align: center;
    height: 15%;
    border-style: ridge;
    justify-content: center;
    align-content: center;

    
}