html, body, #root, .App {
  height: 100%;
  font-family: 'Cinzel', serif;

  }

  body {
    background-color: tan;
    border-width: 0px 5px 0px 5px;
    border-color: brown;
    border-style: ridge;
  }