.navbar {  
        font-family: 'Cinzel', serif;
        background-color: brown;
        border-width: 10px;
        border-color: brown;
        display: flex;
        height: 15%;
        border-style: ridge;
        /* position: fixed; */
        top: 0;

    }
.navbarLogo {
        font-size: 350%;
        color: grey;
        text-shadow: 2px 2px brown;
        border-style: inset;
        border-color: brown;
        background-color: brown;
        border-width: 10px;

    }   
 

