.landingFooter {
    font-family: 'Cinzel', serif;
    background-color: brown;
    border-width: 10px;
    border-color: brown;
    text-align: center;
    height: 15%;
    align-content: center;
    justify-content: center;
    border-style: ridge;
    display: flex;
}

Link {
    font-size: 200%;
    color: grey;
    font-weight: bolder;
}

.btn:hover {
    color: white;
}
