.tackboard {
    /* background-image: url(./assets/images/cork-board.jpg); */
    background-size: cover;
    border-style: solid;
    border-width: 10px;
    border-color: brown;
    border-style: ridge;
    height: 70%;
    background-color: tan;

}
/* .jumbotron {
    margin: 5rem;
} */
.tackform {
    /* display: flex; */
    position: relative;
}

